<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.3.2" targetFramework="net472" />
  <package id="DryIoc.dll" version="4.3.1" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.0.1" targetFramework="net472" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.2.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks" version="4.4.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Prism.Core" version="8.0.0.1850-pre" targetFramework="net472" />
  <package id="Prism.DryIoc" version="8.0.0.1850-pre" targetFramework="net472" />
  <package id="Prism.Wpf" version="8.0.0.1850-pre" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-rc.1.20451.14" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>